.impressum {
    text-align: center;
}
footer{
    text-align: center;
    font-size: 1.5rem;
}
header{
    font-size: 3rem;
    text-align: center;
}
.regions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}
html {
  border-left: 15rem solid #93d7d2;
  border-right: 15rem solid #93d7d2;
}
img {
    display: block;  
    margin-left: auto;  
    margin-right: auto;
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    align-content: center;
}
body {
    font-size: 1.5rem;
}
h2 {
    font-size: 1.7rem;
}
.Flaggen {
    width: 600px;
    height: 400px;
}